@media screen and (min-width: 768px) {
    .register {
        background-color: lightgray;
        width: 400px;
        height: 500px;
        
        padding: 10px;
        margin: 80px auto 0;

        border-radius: 20px;
        box-sizing: border-box;
    }
    .register h2 {
        margin-bottom: 40px;
        text-align: center;
    }
    .register label {
        display: block;
        text-align: center;
        font-size: large;
    }
    .register input {
        display: block;
        width: 300px;
        height: 40px;
        margin: 0 auto 40px;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: medium;
        text-align: center;
    }
    .register button {
        display: block;
        width: 150px;
        height: 40px;
        margin: 80px auto 0;
        border-radius: 10px;
    }
}