@import url("/static/css/style-navbar.css");
@import url("/static/css/style-login.css");
@import url("/static/css/style-register.css");
@import url("/static/css/style-profile.css");
@import url("/static/css/style-inventory.css");

:root {
    --primary-color: #cfcfcf;
    --secondary-color: #bcbcbc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    background-color: var(--primary-color);
    width: 100%;
    height: 80px;
    justify-content: center;
}

.main {
    /* position: relative; */
    flex-grow: 1;
}

.inventory .modal {
    position: absolute;
    background: rgba(0, 0, 0, 70%);

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    z-index: -999;
    opacity: 0;
    transition: opacity 300ms ease-out, z-index 800ms ease-out;
    transition-delay: 200ms;
}

.inventory .modal.show {
    z-index: 999;
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.inventory .modal.show > .modal-body {
    z-index: 1000;
    
    top: 40%;
    opacity: 1;
    
    transition: all 200ms ease-in;
    transition-delay: 200ms;
}

.ms-auto {
    margin-left: auto !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.me-20 {
    margin-right: 20px !important;
}

.mb-50 {
    margin-bottom: 50px;
}

.w1 {
    width: 160px !important;
}

.no-dec {
    text-decoration: none;
    list-style: none;
}

.d-none {
    display: none !important;
}

.no-pad {
    padding: 0;
}